hybris-deployment/fm/fmsapintegration/src/xml/ipo121/xsd/OAGIS/Runtime/ConfirmBOD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    License information for this file is provided in LICENSE.TXT
    For support, more information, or to report implementation bugs, 
    please contact the Open Applications Group at xml@openapplications.org 
     
    ** Revision: 8.0 **
    ** Date: 05 April 2002 **
    Open Applications Group XSD
    Copyright 1998-2002, All Rights Reserved
    
    Name: ConfirmBOD.xsd
    Release: 1.2.1
    Date: March 1, 2005
    Comments: IPO generated Runtime Version
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.openapplications.org/oagis" targetNamespace="http://www.openapplications.org/oagis" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="ConfirmBODDataArea">
		<xs:complexContent>
			<xs:extension base="DataArea">
				<xs:sequence>
					<xs:element ref="Confirm"/>
					<xs:element ref="BOD" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConfirmBOD">
		<xs:complexContent>
			<xs:extension base="BusinessObjectDocument">
				<xs:sequence>
					<xs:element name="DataArea" type="ConfirmBODDataArea">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is where the information that the BOD message carries is provided, in this case ConfirmBOD. The information consists of a Verb and one or more Nouns. The verb (Confirm) indicates the action to be performed on the Noun (BOD).</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataArea">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is where the information that the message carries is provided. This is done by using the Verb which indicates the action to be performed on the Noun and 1 or more Nouns, which is the object that the action is to be performed.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="BusinessObjectDocument">
		<xs:sequence>
			<xs:element ref="ApplicationArea"/>
		</xs:sequence>
		<xs:attribute name="revision" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="\p{N}\.\p{N}\.\p{N}"/>
					<xs:pattern value="\p{N}\.\p{N}"/>
					<xs:pattern value="\p{N}\p{N}\.\p{N}\.\p{N}"/>
					<xs:pattern value="\p{N}\p{N}\.\p{N}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="environment" use="optional" default="Production">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Test"/>
					<xs:enumeration value="Production"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="lang" type="xs:language" use="optional" default="en-US"/>
	</xs:complexType>
	<xs:complexType name="Confirm">
		<xs:complexContent>
			<xs:extension base="Verb"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BOD">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">The general-purpose noun used only in the "ConfirmBOD." This noun carries back the status resulting from the sending of another BOD. The ConfirmBOD could be thought of as  "ConfirmTransaction"   </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Noun">
				<xs:sequence>
					<xs:element ref="Header" minOccurs="0"/>
					<xs:element ref="NounOutcome" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Verb"/>
	<xs:complexType name="Noun"/>
	<xs:complexType name="ApplicationArea">
		<xs:sequence>
			<xs:element name="Sender" type="Sender" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifies characteristics and control identifiers that relate to the application that created the Business Object Document.  The sender area can indicate the logical location of the application and/or database server, the application, and the task that was processing to create the BOD.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreationDateTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">is the date time stamp that the given instance of the Business Object Document was created.  This date must not be modified during the life of the Business Object Document.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Signature" type="Signature" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">If the BOD is to be signed the signature element is included, otherwise it is not.
Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.

This element supports any digital signature specification that is available today and in the future. This is accomplished by not actually defining the content but by allowing the implementation to specify the digital signature to be used via an external XML Schema namespace declaration. The Signature element is defined to have any content from any other namespace. 

This allows the user to carry a digital signature in the xml instance of a BOD. The choice of which digital signature to use is left up to the user and their integration needs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BODId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable.

This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build the following services or capabilities:
1. Legally binding transactions,
2. Transaction logging,
3. Exception handling,
4. Re-sending,
5. Reporting,
6. Confirmations,
7. Security.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BODHeader">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Information about the BOD that was processed, including identifying information and a summary-level indication of the outcome of processing the BOD.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OriginalApplicationArea" type="ApplicationArea">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalBODReference" type="GenericDocumentReference" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Reference to the original BOD that was processed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="BODOutcomeValue" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NounOutcome">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Each NounOutcome captures the outcome of processing each noun of the BOD.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="DocumentIds" minOccurs="0"/>
			<xs:element ref="NounOutcomeValue" minOccurs="0"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Location">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">
The replacement for SiteLevel, the original, flattened concept of numbered, sibling site levels. Location is intended to capture all of the location information for a given, named location. This could include more than one location descriptor, such as a PostalAddress and the GPS Coordinates.

Location can also be described relative  to other locations, by including a  "Proximal Location" (a location nearby or surrounding/containing this location). In this fashion, locations can be identified and cascaded, e.g., the top floor of The Forrester Building which is at 400 Tech Square, right next to the Acamai Building:
	
<Location>
					<Name>top floor</Name>
					<ProximalLocation>
						<Name>The Forrester Building</Name>
						<Address>
							<AddressLine>400 Tech Square </AddressLine>
						</Address>
						<ProximalLocation>
							<Name>Next to the Acamai Building</Name>
						</ProximalLocation>
					</ProximalLocation>
				</Location>


or in Bin 21 on Shelf 4 at Row 3B in Building 19:

     
<Location>
					<Name>Bin</Name>
					<Id>31</Id>
					<ProximalLocation>
						<Name>Shelf</Name>
						<Id>4</Id>
						<ProximalLocation>
							<Name>Row</Name>
							<Id>3B</Id>
							<ProximalLocation>
								<Name>Building</Name>
								<Id>19</Id>
								<Address>...</Address>
							</ProximalLocation>
						</ProximalLocation>
					</ProximalLocation>
				</Location>
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Noun">
				<xs:sequence>
					<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">A name that is associated with the location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Id" type="LocationId" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is a unique identifier of the location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Description of the location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="PostalAddress" minOccurs="0"/>
					<xs:element ref="GPSCoordinates" minOccurs="0"/>
					<xs:element name="LocationRelationship" type="ProximalLocation" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The surrounding or containing location - the location where you find this location. Some things are situated only within a named location, as in "the desk" in "the last office on the right" or "the loading dock" at "the west entrance" at "400 Tech Square." It's possible that the current location can be described in relation to more than one other proximal location: "Last street on the left", "Just across from the Donut Shack."</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Note about the location.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Project">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">A set of tasks with the following attributes: a singular purpose, a start and end date, those that accumulate costs, and those that may have materials and overhead. SYNONYMS: Job, Process Model, Program, Work Breakdown Structure (WBS) element</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Noun">
				<xs:sequence>
					<xs:element name="Id" type="ProjectId" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The project's unique identifier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Status" type="ProjectStatus" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the status of the Project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DocumentDateTime" type="DateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the timestamp in which the Project was created.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Identifies the effective period for the project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Authorization" type="AuthorizationType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Indicates the Authorization for the project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TransactionType" type="ProjectTransactionType" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The project accounting classification of the transactions. EXAMPLES: Billed, Cash, Cost, Revenue</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="TotalCost" type="Amounts" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The total cost of this project, as either an entered amount (no activity costing) or calculated as the sum of the activity costs.

This field is updated by the LoadProjectAccounting BOD.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SourceGLEntity" type="GLEntity" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the Source General Ledger recogized entity that is responsible for paying for the Project.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="GLElement" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="ProjectResourceCategory" type="ProjectResourceCategory" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the categorization of project resources into classes, subclasses, etc</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Activity" type="ProjectActivity" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The specific business processes or tasks within a project.  For example, billing, receiving or preparing purchase orders</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="References" minOccurs="0"/>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Sender">
		<xs:sequence>
			<xs:element name="LogicalId" type="LogicalId" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Provides the logical location of the server and applications from which the Business Object Document originated. It can be used to establish a logical to physical mapping, however its use is optional.

Each system or combination of systems should maintain an external central reference table containing the logical names or logical addresses of the application systems in the integration configuration.  This enables the logical names to be mapped to the physical network addresses of the resources needed on the network.  

Note:  The technical implementation of this Domain Naming Service is not dictated by this specification. 

This logical to physical mapping may be done at execution time by the application itself or by a middleware transport mechanism, depending on the integration architecture used.

This provides for a simple but effective directory access capability while maintaining application independence from the physical location of those resources on the network</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Component" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Provides a finer level of control than Logical Identifier and represents the business application that issued the Business Object Document.  Its use is optional.

The Open Applications Group has not constructed the list of valid Component names.  A suggestion for naming is to use the application component names used in the scenario diagrams in section two of OAGIS. Example Components may be Inventory, or Payroll.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Task" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Describes the business event that initiated the need for the Business Object Document to be created. Its use is optional. Although the Task may differ depending on the specific implementation, it is important to enable drill back capability. Example Tasks may be Receipt or Adjustment.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="Task"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceId" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created. This allows drill back from the BOD message into the sending application. The may be required in environments where an audit trail must be maintained for all transactions.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ReferenceId"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Confirmation" type="Confirmation" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is an option controlled by the Sender business application.  It is a request to the receiving application to send back a confirmation BOD to the sender. The confirmation Business Object Document may indicate the successful processing of the original Business Object Document or return error conditions if the original Business Object Document was unsuccessful.

The confirmation request has the following valid values:

0 - Never - No confirmation Business Object Document requested

1 - OnError - OnError send back a confirmation Business Object Document only if an error has occurred

2 - Always - Always send a confirmation Business Object Document regardless</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthorizationId" type="AuthorizationId" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifyies the authorization level of the user or application that is sending the Business Object Document Message. This authorization level being recognized be the receiving system indicates what can be done on the receiving system(s).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Signature">
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="qualifyingAgency" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="GenericDocumentReference">
		<xs:complexContent>
			<xs:extension base="DocumentReference">
				<xs:sequence>
					<xs:element ref="DocumentIds" minOccurs="0"/>
					<xs:element name="DocumentDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The Datetime of the referenced document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="CommonReference" minOccurs="0"/>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Name">
		<xs:simpleContent>
			<xs:extension base="LingualString"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Description">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Free-form text description of the Noun or Componenet in which the description occurs. The lang attribute indicates the language the description is in. Owner inidcates the user or entity that provided teh description..</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LingualString">
				<xs:attribute name="owner" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProximalLocation">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Reflects the relationship of a thing to a location, using a "binder" and a location. If a Part is located "in Bin 23", the binder is "in" and the location is "Bin 23".</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Binder" type="SpatialRelationshipDescriptor" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">The word used as a binder or connector to describe the relationship of the two locations. Typical values include: on, in, on top of, under, above, adjacent to, cattycorner, down the street from, etc. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Location" minOccurs="0"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Note">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">A free form note. The lang attribute identifies the language that the note is in. The author identifies the author of the note. The enrtyDate indicates the date the note was entered or last modified.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="LingualString">
				<xs:attribute name="author" type="xs:string"/>
				<xs:attribute name="entryDateTime" type="DateTime"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePeriodAny">
		<xs:sequence>
			<xs:element name="From" type="DateTimeAny" minOccurs="0"/>
			<xs:choice>
				<xs:element name="Duration" type="Duration" minOccurs="0"/>
				<xs:element name="To" type="DateTimeAny" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="inclusive" type="xs:boolean" use="optional" default="true"/>
	</xs:complexType>
	<xs:complexType name="AuthorizationType">
		<xs:sequence>
			<xs:element name="Id" type="AuthorizationId" minOccurs="0"/>
			<xs:element name="Type" type="Type" minOccurs="0"/>
			<xs:element ref="Status" minOccurs="0"/>
			<xs:element name="DateAuthorized" type="DateTimeAny" minOccurs="0"/>
			<xs:element name="EffectivePeriod" type="TimePeriodAny" minOccurs="0"/>
			<xs:element name="AuthorizationCode" type="AuthorizationCode" minOccurs="0"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Amounts">
		<xs:sequence>
			<xs:element name="Actual" type="Amount">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifies that amount in the currency of the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Converted" type="FunctionalAmount" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifies the amount in another transaction. Typically used when posting a transaction to the General Ledger when the GL is in another currency. Can also be used to convert currencies.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GLEntity">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The primary balancing segment of the G/L Account structure.  P and L statements are required at this level.  A G/L entity is the smallest organizational unit for which individual financial statements must be drawn up according to relevant commercial law.</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">Synonyms:   Business Unit, Fund, General Ledger Company, Joint Venture,	Non-Profit Association Name</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProjectResourceCategory">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The categorization of project resources into classes, subclasses, etc., such as Labor, Material, Equipment</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProjectActivity">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The specific business process or task within a project.  For example, billing, receiving or preparing purchase orders.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="ProjectActivityId" minOccurs="0"/>
			<xs:element name="Status" type="ProjectActivityStatus" minOccurs="0"/>
			<xs:element name="Cost" type="Amounts" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">The cost of performing this activity. Activity costs are loaded via the LoadProjectAccounting BOD and rolled up to the Project's TotalCost  field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserArea" block="restriction">
		<xs:sequence>
			<xs:any namespace="##any" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentReference">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Identifies another document within the scope of the OAGIS specification, such as a PurchaseOrder or Invoice that maybe associated with a particular Business Object Document.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="OutcomeValue"/>
	<xs:complexType name="DocumentIds">
		<xs:sequence>
			<xs:element ref="DocumentIdType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LingualString">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="lang" type="xs:language"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PostalAddress">
		<xs:complexContent>
			<xs:extension base="PostalAddressBase">
				<xs:sequence>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GPSCoordinates">
		<xs:sequence>
			<xs:element name="GPSSystemType" minOccurs="0"/>
			<xs:element name="Latitude" minOccurs="0"/>
			<xs:element name="Longitude" minOccurs="0"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Amount">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Simple content with the currency as an attrbute</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute name="currency" type="Currency" use="required">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Identifies the currency of the amount.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FunctionalAmount">
		<xs:simpleContent>
			<xs:extension base="Amount">
				<xs:attribute name="conversionFactor" type="xs:decimal" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameValue">
		<xs:complexContent>
			<xs:extension base="NameValueBase">
				<xs:sequence>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="Code" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the Code to indicate the status for the Noun or Component in which the Status Component occurs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is a description of the Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Change" type="StateChange" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates the  status codes of the change when.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Usage">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ProcessingSuccess">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The processing was a success. Possible, non-fatal warning messages may appear here.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OutcomeValue">
				<xs:sequence>
					<xs:element ref="WarningMessage" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcessingFailure">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The processing has failed. Provides a list of error and warning messages that explain the failure.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="OutcomeValue">
				<xs:sequence>
					<xs:element ref="ErrorMessage" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element ref="WarningMessage" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PostalAddressBase">
		<xs:sequence>
			<xs:element name="AddressId" type="AddressId" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is a code for the given address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressLine" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates the multiple lines of an address. The first line is typically the street name and number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the City of the Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="County" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the County of the Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateOrProvince" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the State or Province of a given Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="Country" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Conuntry in which the Address is in.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the Region in which the Address is in.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Postal Code of the Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Description of the Address.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValueBase">
		<xs:sequence>
			<xs:element name="NameValue" type="NameValuePair" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the tag and information of the new information to be passed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Descibes the Name Value information being communicated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the free form note about the information being passed.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentReferences">
		<xs:sequence>
			<xs:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Attachments">
		<xs:sequence>
			<xs:element ref="Attachment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StateChange">
		<xs:sequence>
			<xs:element name="From" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the Status Code before the change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the status code after the change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeDate" type="DateTimeAny" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates when the status change occured.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Description of the status change.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentIdType">
		<xs:sequence>
			<xs:element name="Id" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the identifier of the semantically named document. The position of the Id further defines it's context and meaning,</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="SimpleId"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Revision" type="Revision" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Is the revision of Document Idenifier. The combination of the Id and it's revision uniquely identifies a document from the AssigningParty.  </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">An Address specific identifier type.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="qualifyingAgency" type="xs:string" use="optional">
					<xs:annotation/>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="NameValuePair">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the tag and information of the new information to be passed.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="Tag" use="required">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Is the name of the tag for the information being passed.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="Type" use="optional">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Is the type of the information being passed in the NameValue.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="FeatureValue">
		<xs:complexContent>
			<xs:extension base="NameValueBase">
				<xs:sequence>
					<xs:element name="EffectivePeriod" type="TimePeriod" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Identifies the effective period of the Feature Value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Qualification" type="Code" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Lists any further qualifications for the value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UOM" type="UOM" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Identifies the Unit of Measure for the Feature.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="PartyReferences" minOccurs="0"/>
					<xs:element name="Sequence" type="Code" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Identifies the Sequence of the Feature Value.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WarningMessage">
		<xs:complexContent>
			<xs:extension base="ProcessingOutcomeMessage"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ErrorMessage">
		<xs:complexContent>
			<xs:extension base="ProcessingOutcomeMessage"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartyDocumentId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Document specific identifier type.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocumentIdType">
				<xs:sequence>
					<xs:element ref="AssigningPartyId" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Revision">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the revision code that can be associated with an Item, an order, a Bill of Material. The revision code indicates that the say item has been modified or updated in some way.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="TimePeriod">
		<xs:sequence>
			<xs:element name="From" type="DateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Start timestamp indicating the starting point of the event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Duration" type="Duration" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Indicates the duration of a time period.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="To" type="DateTime" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Is the ending timestamp of the event.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="inclusive" type="xs:boolean" use="optional" default="true"/>
		<!--		<xs:complexContent>
			<xs:restriction base="TimePeriodBase">
-->
		<!--			</xs:restriction>
		</xs:complexContent>
-->
	</xs:complexType>
	<xs:complexType name="Attachment">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Attachment allows supporting documents to be attached to the BOD. This is for reference and management of binary/non-XML documents such as spreadsheets, CAD files, graphics, etc.

Defines information about the attachement which may be inline, a MIME part or an external URI

</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="EmbeddedData" type="EmbeddedData" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Allows the data to be embedded directly into the BOD instance.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="URI" type="xs:anyURI" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Allows the Attachment to reference any URI.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FileName" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Indicates the name of the File being referenced.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ISBN" type="ISBN" minOccurs="0">
					<xs:annotation>
						<xs:documentation source="http://www.openapplications.org/oagis">Allows a reference to an ISBN.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="DocumentDate" type="DateTimeAny" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates the creation date and time of the document being referenced.
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Description of the Attachment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifies the type of the file type of the attachment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileSize" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Specifies how big the file is.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">A note that can be associated with the attachment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Title" type="LingualString" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indicates the Title of the attachment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="inline" type="xs:boolean" use="optional" default="false"/>
	</xs:complexType>
	<xs:complexType name="ProcessingOutcomeMessage">
		<xs:sequence>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ReasonCode" type="ReasonCode" minOccurs="0"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyReferences">
		<xs:sequence>
			<xs:element ref="PartyReference" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderDocumentReference">
		<xs:complexContent>
			<xs:extension base="DocumentReference">
				<xs:sequence>
					<xs:element ref="DocumentIds" minOccurs="0"/>
					<xs:element name="DocumentDate" type="DateTimeAny" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">The Datetime of the referenced document.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:group ref="CommonReference" minOccurs="0"/>
					<xs:element name="LineNumber" type="xs:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the LineNumber of a particular item of interest for the given DocumentReference. The Line Number is of the primary DocumentId of the sender indicated  by the DocumentId under DocumentIds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ScheduleLineNumber" type="xs:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the ScheduleLineNumber of a particular item of interest for the given DocumentReference. The Line Number is of the primary DocumentId of the sender indicated  by the DocumentId under DocumentIds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubLineNumber" type="xs:positiveInteger" minOccurs="0">
						<xs:annotation>
							<xs:documentation source="http://www.openapplications.org/oagis">Is the SubLineNumber of a particular item of interest for the given DocumentReference. The Line Number is of the primary DocumentId of the sender indicated  by the DocumentId under DocumentIds.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="UserArea" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EmbeddedData">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Holds the contents of an inline attachment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Data" type="xs:anyType">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Container to carry the embedded data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="encoding" type="Encoding" use="required"/>
	</xs:complexType>
	<xs:complexType name="PartyIdType">
		<xs:sequence>
			<xs:element name="Id" type="PartyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Id type for generic Party Ids.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SCAC" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">StandardCarrierAlphaCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="DUNS" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">PartyIdType for DUNS numbers. Simple Id for now, but could be altered to impose pattern.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyId">
		<xs:simpleContent>
			<xs:extension base="PartyIdAny"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PartyReference">
		<xs:sequence>
			<xs:element name="PartyId" type="PartyAssignedPartyId" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Identifies the Party being referenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="UserArea" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyIdAny" abstract="true">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The abstracty type for the head element of a PartyId substitution group. Must be compatible with all derivations.</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PartyAssignedPartyId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">PartyQualifiedPartyId - the type of any [Party]PartyId, such as BillToPartyId.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="PartyIdType">
				<xs:sequence>
					<xs:element ref="AssigningPartyId" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ConfirmBOD" type="ConfirmBOD">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Replacement for ConfirmBOD. This BOD reports on the outcome of processing a BOD. Only one BODOutcome noun will be returned, corresponding to a previously transmitted  BOD that was earmarked for returning outcome notification. Summaary BOD-level outcome is reported in the Header, with noun-specific errors or warnings reported for each noun instance that accompanied the original BOD.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Confirm" type="Confirm" substitutionGroup="Verb">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The Confirm verb is used to respond to a request to confirm the receipt of information by the receiving system. The request for confirmation is set by the sending application in the ApplicationArea\Sender\Confirmation field of the original BOD.  The Confirm conveys the result of the original request i.e. whether or not the message was understood and was successfully processed.  An example of this is CONFIRM BOD.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BOD" type="BOD" substitutionGroup="Noun">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The outcome of processing a specific BOD. Describes overall/summary outcome, plus the outcome of processing each noun of the BOD. Includes noun-specific error and/or warning messaages encountered during processing. May include summary and/or roll-up messages at the BOD level.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Verb" type="Verb" abstract="true"/>
	<xs:element name="Noun" type="Noun" abstract="true"/>
	<xs:element name="ApplicationArea" type="ApplicationArea">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Header" type="BODHeader">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Information about the BOD that was processed, including identifying information and a summary-level indication of the outcome of processing the BOD.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NounOutcome" type="NounOutcome">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Each NounOutcome captures the outcome of processing each noun of the BOD.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Location" type="Location" substitutionGroup="Noun">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The location of a thing, as captured by an address (or addresses), GPS Coordinates, and/or in relation to other locations.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Project" type="Project" substitutionGroup="Noun">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">A set of tasks with the following attributes: a singular purpose, a start and end date, those that accumulate costs, and those that may have materials and overhead. SYNONYMS: Job, Process Model, Program, Work Breakdown Structure (WBS) element

This is used to enable all relevant sub-systems that submit transactions to the project accounting application to maintain valid values for the key project fields.  The target applications for this update would include, but not necessarily be limited to:
Accounts Payable
Accounts Receivable
Budget
Order Management
Purchasing
Time and Labor
Travel and Expense</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UserArea" type="UserArea">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Allows the user of OAGIS to extend the specification in order to provide additional information that is not captured in OAGIS.</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">This is done by defining the additional information in XML Schema and referencing the new schema in the xml instance document throught the use of namespaces. Once this is done the additional information defined there can be carried in the BOD XML instance document.</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">The Open Applications Group will make best efforts to quickly consider all proposed submissions.The USERAREA is always the last element in all components, except where the component has been extended inline.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BODOutcomeValue" type="OutcomeValue" abstract="true">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The possible BOD-level outcomes; an extensible list.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentIds" type="DocumentIds">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the identifier for the document. It is possible to carry the document identifier for the other Parties. These DocumentIds are referenced by party-specific names.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NounOutcomeValue" type="OutcomeValue" abstract="true">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The specific outcome of processing the noun, with supporting detail.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PostalAddress" type="PostalAddress">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Provides the postal address of the location.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GPSCoordinates" type="GPSCoordinates"/>
	<xs:element name="GLElement" type="NameValue" substitutionGroup="NameValueBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Allows accounting code elements, which cannot be linked to specified OAGI Field Identifiers that have to be transmitted.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BODSuccess" type="ProcessingSuccess" substitutionGroup="BODOutcomeValue">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The processing of the BOD was a success. Possible, non-fatal warning messages may appear here. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BODPartialSuccess" type="ProcessingFailure" substitutionGroup="BODOutcomeValue">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The processing of at least one noun in the BOD has failed. Error and warning messages may explain the failure. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BODFailure" type="ProcessingFailure" substitutionGroup="BODOutcomeValue">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The processing of the BOD has failed. Provides a list of error and warning messages that explain the failure. Specific outcomes of processing each noun are reported in each of the NounOutcome elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NounSuccess" type="ProcessingSuccess" substitutionGroup="NounOutcomeValue" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Indicates that the processing of this noun has succeeded; may provide non-fatal warning messages that arose during the processing of the noun.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NounFailure" type="ProcessingFailure" substitutionGroup="NounOutcomeValue" nillable="true">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Indicates that the processing of this noun has failed, and provides error and warning messages that arose during the processing of the noun.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Status" type="Status">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Indicates the state of the Noun or Component in which it occurs.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NameValueBase" type="NameValueBase" abstract="true"/>
	<xs:element name="DocumentReferences" type="DocumentReferences">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Allows references to other business transactions to be referenced by the document/component that includes DocumentReferences. These references make use of semantic names in order to capture the purpose of the references. This in combination with the relative position with in a business document provide context for their use.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attachments" type="Attachments">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Attachments allows any number of Attachment components to be associated with a Component or Noun. These Attachments use semantic names in order to provide meaning for the Attachment. The combination of the semantic name and position provide context for the Attachment.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentIdType" type="DocumentIdType" abstract="true"/>
	<xs:element name="FieldValue" type="NameValue" substitutionGroup="NameValueBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is a general purpose NameValue synchronization of fields. This is typically need to synchronize codes and identifiers between systems so that the same values may be used or so that a cross reference of values can be used to translate from one parties values to another.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Qualification" type="NameValue" substitutionGroup="NameValueBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Represents the response to selection criteria that will be used to evaluate  the Party. It may also represent capabilities the party offers which are not requested. Examples include quality certifications (ISO-9000), CAD data compatibility (Pro/E), manufacturing operations (JIT), company size, and performance ratings.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Property" type="NameValue" substitutionGroup="NameValueBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Represents the Properties of the Items being communicated.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FeatureValue" type="FeatureValue" substitutionGroup="NameValueBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Identifies pair wise features that the Orderable Item may have.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="WarningMessage" type="WarningMessage">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Non-fatal warning message encountered during processing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ErrorMessage" type="ErrorMessage">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Error message encountered during processing.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocumentId" type="DocumentIdType" substitutionGroup="DocumentIdType">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is the primary DocumentId of the document for the given context. For example, if a buyer is sending a Purchase Order to a Suplier the PurchaseOrder Id will be contained with in the DocumentId. Similarily, in the instance of a semantic name of a SalesOrderDocumentReference the DocumentId will carry the senders identifier for the SalesOrder in the DocumentId and the cross-references would be provided by using the other semantic Docmentids.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CustomerDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="SupplierDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="CarrierDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="BrokerDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="LogisticsProviderDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="ShippersDocumentId" type="PartyDocumentId" substitutionGroup="DocumentIdType"/>
	<xs:element name="DocumentReference" type="DocumentReference" abstract="true"/>
	<xs:element name="Attachment" type="Attachment">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The Attachment represents binary data files that may be included within a BOD. These files replace the paper specifications and drawings attached to a BOD definition to clearly communicate design requirements. This Data Type is optional.

Attachment usage is further defined by its position.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PartyReferences" type="PartyReferences">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">References to any parties.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PurchaseOrderDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="SalesOrderDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="RequisitionDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="RFQDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="QuoteDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="MaintenanceOrderReference" type="GenericDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="ContractDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="InvoiceDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="UOMGroupReference" type="GenericDocumentReference" substitutionGroup="DocumentReference">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Reference to the UOM cross references for units of measures.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CatalogDocumentReference" type="GenericDocumentReference" substitutionGroup="DocumentReference">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Reference to a Catalog.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReceiptDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is a reference to the receipt document.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProjectReference" type="GenericDocumentReference" substitutionGroup="DocumentReference">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Is a reference to a Project document.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LedgerDocumentReference" type="GenericDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="VoucherDocumentReference" type="OrderDocumentReference" substitutionGroup="DocumentReference"/>
	<xs:element name="AssigningPartyId" type="PartyIdType">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">This is an atomic (non-recursive) identifier, to disambiguate in cases where there might be more than one semantic element name (e.g., SupplierPartyId).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PartyReference" type="PartyReference"/>
	<xs:element name="SCAC" type="PartyId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">StandardCarrierAlphaCode</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DUNS" type="PartyId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">PartyIdType for DUNS numbers. Simple Id for now, but could be altered to impose pattern.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:group name="References">
		<xs:sequence>
			<xs:element ref="DocumentReferences" minOccurs="0"/>
			<xs:element ref="Attachments" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="CommonReference">
		<xs:sequence>
			<xs:element name="Description" type="Description" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Provides descriptive information about the document being referenced. This is a free formed text fireld.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Provides descriptive name of the document being referenced. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="Status" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indiactes the state of the document being referenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Usage" type="Usage" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Indiactes the use of the document being referenced.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="Note" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation source="http://www.openapplications.org/oagis">Allows a note about the document being referenced. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="LocationId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProjectId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The unique identifier for an accounting project.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProjectStatus">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The status descriptor for an accounting project.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(Z|(\+|-)\d\d:\d\d)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ProjectTransactionType">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The project accounting classification of the transactions. EXAMPLES: Billed, Cash, Cost, Revenue</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LogicalId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Task">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReferenceId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis"/>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Confirmation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="Never"/>
			<xs:enumeration value="OnError"/>
			<xs:enumeration value="Always"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AuthorizationId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeAny">
		<xs:union memberTypes="Date DateTime"/>
	</xs:simpleType>
	<xs:simpleType name="SpatialRelationshipDescriptor">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The word used as a binder or connector to describe the relationship of the two locations. Typical values include: on, in, on top of, under, above, adjacent to, cattycorner, down the street from, etc. </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Duration">
		<xs:restriction base="xs:duration"/>
	</xs:simpleType>
	<xs:simpleType name="Type">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="AuthorizationCode">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProjectActivityId">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The id for an accounting project's activity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code"/>
	</xs:simpleType>
	<xs:simpleType name="ProjectActivityStatus">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The status descriptor for an accounting project's activity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Date">
		<xs:restriction base="xs:date">
			<xs:pattern value="\d\d\d\d-\d\d-\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Currency">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Code">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Base type for a Code of any kind</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Country">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Standard values from ISO 3166-3:1999 Part 1</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">Codes for the representation of names of countries and their subdivisions - Part 1: Country codes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="PostalCode">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">A local postal code such as US Zipcode.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SimpleId">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Tag">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UOM">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Standard values from ISO / SI ????</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:NMTOKEN"/>
	</xs:simpleType>
	<xs:simpleType name="ISBN">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Format based on ISO 2108:1992</xs:documentation>
			<xs:documentation source="http://www.openapplications.org/oagis">Information and documentation International standard book numbering (ISBN)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReasonCode">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">Used as a reason indicator for any type of business event or activity.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="Code"/>
	</xs:simpleType>
	<xs:simpleType name="Encoding">
		<xs:union memberTypes="EncodingBase xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="EncodingBase">
		<xs:annotation>
			<xs:documentation source="http://www.openapplications.org/oagis">The standard set of encoding types from ???</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="base64"/>
			<xs:enumeration value="octal"/>
			<xs:enumeration value="binary"/>
			<xs:enumeration value="plainText"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
