hybris-deployment/fm/fmwebservice/web/webroot/WEB-INF/wsdl/pointofservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://services.fm.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://services.fm.com" targetNamespace="http://services.fm.com" xmlns:p="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding"  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns1="http://services.fm.com" elementFormDefault="qualified"
			targetNamespace="http://services.fm.com">
			<xs:element name="pointofserviceRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pointofserviceInfo"
							nillable="true" type="tns1:pointofserviceRequestType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pointofserviceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="pointofserviceResponseInfo"
							nillable="true" type="tns1:pointofserviceResponseType" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			
		    <xs:complexType name="pointofserviceRequestType">
				<xs:sequence>
					    <xs:element maxOccurs="1" minOccurs="1" name="country"
						type="xs:string" />
					    <xs:element maxOccurs="1" minOccurs="1" name="locationQuery"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="brand"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="1" name="shopType"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="radius"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="radiusMeasurementType"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="showNearest"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="partType"
						type="xs:string" />
						<xs:element maxOccurs="1" minOccurs="0" name="subBrand"
						type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="pointofserviceResponseType">
				<xs:sequence>
					<xs:element name="msgCode" type="xs:string" />
					<xs:element name="msgDesc" type="xs:string" />
					<xs:element name="totalStores" type="xs:int" />
					<xs:element name="Store" maxOccurs="unbounded">
					 <xs:complexType>
					 <xs:sequence>
						<xs:element name="pointofserviceName" type="xs:string" />					
						<xs:element name="distance" type="xs:string" />				
						<xs:element name="latitude" type="xs:string" />
						<xs:element name="longitude" type="xs:string" />
						<xs:element maxOccurs="unbounded" ref="tns:brands"/>
						<xs:element name="shopType" type="xs:string" />
						<xs:element name="partType" type="xs:string" />
						<xs:element name="subBrand" type="xs:string" />
						<xs:element name="isPreferredVendor" type="xs:boolean" />
						<xs:element name="formattedAddress" type="xs:string" />
						<xs:element name="officePhone" type="xs:string" />
						<xs:element name="isActive" type="xs:boolean" />
						<xs:element name="storewebsite" type="xs:string" />
						<xs:element name="email" type="xs:string" />
						<xs:element name="country" type="xs:string" />
						<xs:element name="storeWebsiteUrl" type="xs:string" />
						<xs:element name="scheduleAppointmentUrl" type="xs:string" />
					  </xs:sequence>
					 </xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getBrandInformationRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="brand" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="getBrandInformationResponse">
			  <xs:complexType>
					<xs:sequence>
						<xs:element name="Brand">
		  			    <xs:complexType>
						   <xs:sequence>
						     <xs:element name="brandName" type="xs:string"></xs:element>
						     <xs:element maxOccurs="unbounded" ref="tns:PartType">
					         </xs:element>
					       </xs:sequence>
					     </xs:complexType> 
					    </xs:element>  
					</xs:sequence>
			   </xs:complexType>
			</xs:element>
			
			 <xs:element name="SubBrands">
			  <xs:complexType>
			   <xs:sequence>
                 <xs:element name="subBrandName" maxOccurs="unbounded" type="xs:string"/>
                </xs:sequence> 
              </xs:complexType>
             </xs:element>   
            
            <xs:element name="PartType">
              <xs:complexType>
                 <xs:sequence>
                <xs:element name="partTypeName" type="xs:string" />
				<xs:element ref="tns:SubBrands"/>
				</xs:sequence>
              </xs:complexType>
             </xs:element> 
             
             <xs:element name="brands">
			  <xs:complexType>
			   <xs:sequence>
                 <xs:element name="brand" maxOccurs="unbounded" type="xs:string"/>
                </xs:sequence> 
              </xs:complexType>
             </xs:element>   
             
             <xs:element name="getDistributorsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="distributorsRequestInfo"
							nillable="true" type="tns1:distributorRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getDistributorsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="distributorsResponseInfo"
							nillable="true" type="tns1:distributorResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
                             
            	<xs:complexType name="distributorRequest">
            		<xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string" />
            			<xs:element maxOccurs="1" minOccurs="0" name="brand" type="xs:string" />
            		</xs:sequence>
            	</xs:complexType>
            
           
            <xs:complexType name="distributorResponse">
            	<xs:sequence>
            		<xs:element name="msgCode" type="xs:string" />
					<xs:element name="msgDesc" type="xs:string" />
					<xs:element name="totalStores" type="xs:int" />
					<xs:element name="Distributor" maxOccurs="unbounded">
					<xs:complexType>
					  <xs:sequence>
                         <xs:element maxOccurs="1" minOccurs="1" name="countryName" type="xs:string" />
                         <xs:element maxOccurs="1" minOccurs="1" name="distributorName" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="formattedAddress" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="storeWebsite" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="officePhone" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string" />
            			 <xs:element maxOccurs="unbounded" ref="tns:brands"/>
            		  </xs:sequence>
            		 </xs:complexType>	
            		 </xs:element> 
            		</xs:sequence>
            	</xs:complexType>
            	
            	
            <xs:element name="getOnlineRetailersRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="onlineRetailerRequestInfo"
							nillable="true" type="tns1:onlineRetailerRequest" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getOnlineRetailersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="onlineRetailerResponseInfo"
							nillable="true" type="tns1:onlineRetailerResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element> 	
            
             <xs:complexType name="onlineRetailerRequest">
            		<xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string" />
            			<xs:element maxOccurs="1" minOccurs="0" name="brand" type="xs:string" />
            		</xs:sequence>
             </xs:complexType>
           
             <xs:complexType name="onlineRetailerResponse">
                 <xs:sequence> 
                   <xs:element name="msgCode" type="xs:string" />
				   <xs:element name="msgDesc" type="xs:string" />
				   <xs:element name="totalStores" type="xs:int" />
				   <xs:element name="onlineRetailer" maxOccurs="unbounded">
                     <xs:complexType>
            		  <xs:sequence>
            			 <xs:element maxOccurs="1" minOccurs="1" name="countryName" type="xs:string" />
                         <xs:element maxOccurs="1" minOccurs="1" name="distributorName" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="formattedAddress" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="storeWebsite" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="officePhone" type="xs:string" />
            			 <xs:element maxOccurs="1" minOccurs="0" name="email" type="xs:string" />
            			 <xs:element maxOccurs="unbounded" ref="tns:brands"/>
            		  </xs:sequence>
            	    </xs:complexType>
            	</xs:element>
              </xs:sequence>
           </xs:complexType>
            
             <xs:element name="getDealerLocatorMasterDataRequest">
             	<xs:complexType>
             		<xs:sequence>
                       	<xs:element name="in" type="xs:string"></xs:element>
             		</xs:sequence>
             	</xs:complexType>
             </xs:element>
             
             <xs:element name="getDealerLocatorMasterDataResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element maxOccurs="unbounded" name="dealerLocatorMasterDataResponseInfo"
							nillable="true" type="tns1:dealerLocatorMasterDataResponse" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			 
             <xs:complexType name="dealerLocatorMasterDataResponse">
             		<xs:sequence>
                       <xs:element name="Country">
		  			     <xs:complexType>
						   <xs:sequence>
						     <xs:element name="countryISO" type="xs:string"></xs:element>
						     <xs:element maxOccurs="unbounded" ref="tns:shopType">
					         </xs:element>
					       </xs:sequence>
					     </xs:complexType> 
					    </xs:element>  
             		</xs:sequence>
             </xs:complexType>
             
              <xs:element name="shopType">
               <xs:complexType>
                 <xs:sequence>
                   <xs:element name="shopTypeName" type="xs:string" />
				   <xs:element ref="tns:brands"/>
				</xs:sequence>
              </xs:complexType>
             </xs:element> 
                    
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="pointofserviceResponse">
		<wsdl:part name="parameters" element="tns:pointofserviceResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="pointofserviceRequest">
		<wsdl:part name="parameters" element="tns:pointofserviceRequest">
		</wsdl:part>
	</wsdl:message>


	<wsdl:message name="getBrandInformationRequest">
		<wsdl:part name="parameters" element="tns:getBrandInformationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getBrandInformationResponse">
		<wsdl:part name="parameters" element="tns:getBrandInformationResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getDistributorsRequest">
		<wsdl:part name="parameters" element="tns:getDistributorsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDistributorsResponse">
		<wsdl:part name="parameters" element="tns:getDistributorsResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getOnlineRetailersRequest">
		<wsdl:part name="parameters" element="tns:getOnlineRetailersRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getOnlineRetailersResponse">
		<wsdl:part name="parameters" element="tns:getOnlineRetailersResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getDealerLocatorMasterDataRequest">
		<wsdl:part name="parameters" element="tns:getDealerLocatorMasterDataRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getDealerLocatorMasterDataResponse">
		<wsdl:part name="parameters" element="tns:getDealerLocatorMasterDataResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="pointofservice_PortType">
		<wsdl:operation name="pointofservice_PortType_pointofserviceDetails">
			<wsdl:input message="tns:pointofserviceRequest" name="pointofserviceRequest">
			</wsdl:input>
			<wsdl:output message="tns:pointofserviceResponse"
				name="pointofserviceResponse">
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="getBrandInformation">
			<wsdl:input message="tns:getBrandInformationRequest" name = "getBrandInformationRequest"></wsdl:input>
			<wsdl:output message="tns:getBrandInformationResponse" name = "getBrandInformationResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="getDistributors">			<wsdl:input message="tns:getDistributorsRequest" name = "getDistributorsRequest"></wsdl:input>			<wsdl:output message="tns:getDistributorsResponse" name = "getDistributorsResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="getOnlineRetailers">			<wsdl:input message="tns:getOnlineRetailersRequest" name = "getOnlineRetailersRequest"></wsdl:input>			<wsdl:output message="tns:getOnlineRetailersResponse" name = "getOnlineRetailersResponse"></wsdl:output>
		</wsdl:operation>		<wsdl:operation name="getDealerLocatorMasterData">			<wsdl:input message="tns:getDealerLocatorMasterDataRequest" name = "getDealerLocatorMasterDataRequest"></wsdl:input>			<wsdl:output message="tns:getDealerLocatorMasterDataResponse" name = "getDealerLocatorMasterDataResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="FMpointofserviceWSSoap11" type="tns:pointofservice_PortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="pointofservice_PortType_pointofserviceDetails">
			<soap:operation soapAction="pointofservice" />
			<wsdl:input name="pointofserviceRequest">
				<soap:body parts="parameters" use="literal" />			
			</wsdl:input>
			<wsdl:output name="pointofserviceResponse">
				<soap:body parts="parameters" use="literal" />	
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getBrandInformation">
			<soap:operation soapAction="brandInformation" />
			<wsdl:input name="getBrandInformationRequest">
				<soap:body parts="parameters" use="literal" />			
			</wsdl:input>
			<wsdl:output name="getBrandInformationResponse">
				<soap:body parts="parameters" use="literal" />	
			</wsdl:output>
		</wsdl:operation>	
		<wsdl:operation name="getDistributors">
			<soap:operation soapAction="distributorsByCountryAndBrand" />
			<wsdl:input name="getDistributorsRequest">
				<soap:body parts="parameters" use="literal" />			
			</wsdl:input>
			<wsdl:output name="getDistributorsResponse">
				<soap:body parts="parameters" use="literal" />	
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="getOnlineRetailers">
			<soap:operation soapAction="onlineRetailers" />
			<wsdl:input name="getOnlineRetailersRequest">
				<soap:body parts="parameters" use="literal" />			
			</wsdl:input>
			<wsdl:output name="getOnlineRetailersResponse">
				<soap:body parts="parameters" use="literal" />	
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDealerLocatorMasterData">
			<soap:operation soapAction="dealerLocatorMasterData" />
			<wsdl:input name="getDealerLocatorMasterDataRequest">
				<soap:body parts="parameters" use="literal" />			
			</wsdl:input>
			<wsdl:output name="getDealerLocatorMasterDataResponse">
				<soap:body parts="parameters" use="literal" />	
			</wsdl:output>
		</wsdl:operation>			
	</wsdl:binding>
	
	<wsdl:service name="FMpointofserviceWSService">
		<wsdl:port binding="tns:FMpointofserviceWSSoap11" name="FMpointofserviceWSSoap11">
			<soap:address location="http://localhost:9001/fmwebservice/storelocator" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>