hybris-deployment/fm/fmsapintegration/src/xml/ipo201/xsd/BaseSchemas/RequestForQuote.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema targetNamespace="http://www.aaiasoa.net/IPOv2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.aaiasoa.net/IPOv2" xmlns:cmn="http://www.aaiasoa.net/IPOv2/Common" elementFormDefault="qualified">
	<xs:import namespace="http://www.aaiasoa.net/IPOv2/Common" schemaLocation="IPOv2Common.xsd"/>
	<xs:element name="HeaderType" type="HeaderType"/>
	<xs:complexType name="HeaderType">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="Language" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The two-character or three-character Language Code defined in ISO Code Tables 639-1 and 639-2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Currency" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The three-letter currency code defined in the ISO 4217 Code Table.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DimensionalUOM" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The two-character code defined in ANSI Code Table 355 for dimensional measures. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WeightUOM" type="xs:token" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The two-character weight measurement code defined in ANSI Code Table 355.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentDateTime" type="xs:dateTime" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date and time the document was created, formatted in ISO 8601 extended format of YYYY-MM-DDThh:mm:ss, followed by the difference between the local time and Universal Time represented as ±hh:mm, or Z if there is no difference - fractional seconds may be included.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentIds" type="cmn:DocumentIdsType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DocumentReferenceIds" type="cmn:DocumentReferenceIdsType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Note" type="cmn:NoteType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free form text element used to annotate the document or exchange process.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackOrderedInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Requested Items may not be available for shipment within the timeframe specified by the Buyer, resulting in a backorder. Buyers may use this indicator to inform the Seller whether they will accept or reject all backordered Items for the entire Order. This element will either contain a Boolean value of &#8220;1&#8221; indicating a backorder is acceptable, or &#8220;0&#8221; indicating orders for unshipped quantities or Items must be cancelled. If this element is not present, a default value of &#8220;1&#8221; is assumed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DropShipInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains a Boolean value of either "1", indicating that drop-shipment is requested or "0" indicating that the order may not be drop-shipped. If this field is not present, a default value of "0" should be assumed by the receiving application. Note: a true value of "1" is only valid when the ShipToParty address information is different than the address in BillToParty. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransportationTermCode" type="cmn:TransportationTermCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the Buyer provided transportation terms in the RFQ, and the Seller agrees with those terms, the transportation terms from the RFQ should be echoed here. If not, the element contains the Sellers terms. This element contains one of the three-character codes defined in INCOterms 2000, such as EXW (Ex works), FOB (Free on Board), CIF (Cost, Insurance and Freight), DDU (Delivered Duty Unpaid), or CPT (Carriage Paid To).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightTerms" type="cmn:FreightTermsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container element for Freight Terms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedPrice" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This element contains the total value of all Line Items, excluding any additional charges or fees such as tax or shipping. Typically this and other pricing fields would not be included in a RFQ, unless the Buyer knows the Seller's price (from, say, a catalog or price list) and is only checking Item availability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalCharges" type="cmn:AdditionalChargesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container element forAdditional Charges.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains the total value for the Order, including additional charges, e.g. customization, shipping and handling, or tax. Typically this and other pricing information is not included in the RFQ, unless the Buyer is confirming a known cost and checking Item availability.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaymentTerms" type="cmn:PaymentTermsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment terms &amp; methods.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillToParty" type="cmn:PartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The content of this component describes the entity, organization, or person responsible for paying an Order invoice. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipToParty" type="cmn:PartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The content of this component describes the entity, organization, or person, to which the Ordered Items will be shipped or delivered. The ShipToParty component structure is identical to Header/BillToParty, and in many cases the information provided here will also match the content in that component, although the address and contact information is frequently different for larger organizations. Note that the RFQ does not provision for more than one ShipToParty, as it's assumed every Item in an Order would be delivered to the same address.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SoldToParty" type="cmn:PartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The content of this component describes the entity, organization, or person who will take title to the Ordered Items. The SoldToParty component structure is identical to Header/BillToParty, and in many cases the content may also be the same as that component. However, Items requested by larger organizations, such as a retail chain, could be sold to a local store, shipped to a regional warehouse to be included in the daily stock delivery, and billed to the corporate headquarters. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipFromParty" type="cmn:PartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The content of this component describes the entity, organization, or person who will ship the requested Items. The elements contained in the ShipFromParty component are identical to Header/BillToParty.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostParty" type="cmn:HostPartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Component describes the entity to which the document should be routed. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserArea" type="cmn:UserAreaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allows the user of IPO to extend the specification in order to exchange additional information which isn't defined in the standard. This UserArea should remain the last element in the Header sequence, prior to the Lines element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LineType" type="LineType"/>
	<xs:complexType name="LineType">
		<xs:annotation>
			<xs:documentation>Line Item Information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LineNumber" type="xs:positiveInteger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains a sequential line identifier, beginning with 1 for the first line.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItem" type="cmn:OrderItemType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A collection of information pertaining to the Item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderQuantity" type="cmn:OrderQuantityType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity of the Item being ordered.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prices" type="cmn:PricesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container element for Prices.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreightTerms" type="cmn:FreightTermsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container element for Freight Terms.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedPrice" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This element contains the total value of all Line Items, excluding any additional charges or fees such as tax or shipping.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalCharges" type="cmn:AdditionalChargesType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Container element forAdditional Charges.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains the total value for the Line Item, including additional charges, e.g.; customization, shipping and handling, or tax.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" type="cmn:NoteType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free form text element which may be used to provide additional information about the Line Item.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DropShipInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contains a Boolean value of either "1", indicating that drop-shipment is requested or "0" indicating that the order may not be drop-shipped. If this field is not present, a default value of "0" should be assumed by the receiving application. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BackOrderedInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Requested Items may not be available for shipment within the timeframe specified by the Buyer, resulting in a backorder. Buyers may use this indicator to inform the Seller whether they will accept or reject all backordered Items for the entire Order. This element will either contain a Boolean value of &#8220;1&#8221; indicating a backorder is acceptable, or &#8220;0&#8221; indicating orders for unshipped quantities or Items must be cancelled. If this element is not present, a default value of &#8220;1&#8221; is assumed. If present, this overrides the BackOrderInd value in the Header.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShipFromParty" type="cmn:PartyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The content of this component describes the entity, organization, or person who will ship the requested Items. The elements contained in the ShipFromParty component are identical to Header/BillToParty. Information provided here overrides any Header/ShipFromParty information for this Line Item. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserArea" type="cmn:UserAreaType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allows the user of IPO to extend the specification in order to exchange additional Line Item information which isn't defined in the standard. This UserArea should remain the last element in the  sequence.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LinesType" type="LinesType"/>
	<xs:complexType name="LinesType">
		<xs:sequence>
			<xs:element name="Line" type="LineType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequestForQuote" type="RequestForQuote"/>
	<xs:complexType name="RequestForQuote">
		<xs:sequence>
			<xs:element name="Header" type="HeaderType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Lines" type="LinesType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
